click~=8.0.1
good~=0.0.8
imageio<=2.4.1
matplotlib
moviepy<1.0.0
numpy~=1.20.3
opencv-python~=4.5.3.56
pims~=0.5
PyOpenGL
pyquaternion~=0.9.9
pyyaml~=5.4.1
recordclass~=0.16
scikit-image
scikit-learn~=0.24.2
scipy
sortednp~=0.4.0
transforms3d~=0.3.1

Pillow~=8.3.2
numba~=0.54.0